<div class="ikalogs_block" id="ikalogs_saver">
    <div id="ikalogs_auth"></div>
    <div id="ikalogs_already_exist">
        <a href="" target="_blank"><%= lget('ikalogs_last_report') %></a>
    </div>
    <select name="report_type">
        <% _.each(['full', 'short', 'last', 'each', 'between'], function(v) { %>
            <option value="<%= v %>"><%- lget(`ikalogs_types_${v}`) %></option>
        <% }) %>
    </select>
    <select name="report_rounds">
        <% _.each([2, 5, 10, 15, 20, 25, 50, 75, 100], function(v) { %>
            <option value="<%= v %>"><%= lget('ikalogs_each') %> <%= v %></option>
        <% }) %>
    </select>
    <div class="ikalogs_between">
        <p><%= lget('ikalogs_help_bw') %></p>
        <input type="text" name="between" />
    </div>
    <div class="centerButton">
        <a href="" class="button"><%= lget('ikalogs_analyze') %></a>
    </div>
</div>
<div class="content ikalogs_loader">
    <div class="ikalogs_loader_progress">
        <div></div>
    </div>
    <span></span>
</div>
<div class="content ikalogs_result">
    <span></span>
    <a href="" target="_blank"></a>
</div>